<div class="site-header">
  <div class="profilepic">
    
    <img src="/images/logo.png" alt="Profile Picture" width="160" height="160" />
    
  </div>

  {% assign page_paths = site.pages | where: 'include_nav', true | map: "path" %}
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  {% if site.subtitle %}
  <div class="site-subtitle">{{ site.subtitle }}</div>
  {% endif %}
  
  {% if page_paths %}
    <nav class="site-nav">
      <ul>
        <li style="color: rgb(154 147 66)">Walks</li>
        <li><a class="page-link" href="/pennine-way-2020/">Peninne way 2020</a></li>

        <li style="color: rgb(154 147 66)">Misc</li>
        <li><a class="page-link" href="/archives/">Archives</a></li>
        <li><a class="page-link" href="/about/">About</a></li>
        <li><a class="page-link" href="/privacy/">Privacy</a></li>
        {% if site.contact.url %}
        
        <li><a class="page-link" href="{{ site.contact.url }}">Contact</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <div class="social-footer">
    {% include social.html %}
  </div>
</div>
