<div class="site-header">
  <div class="profilepic">
    
    <img src="https://pbs.twimg.com/profile_images/449560757357658112/bhmjf1W8_400x400.jpeg" alt="Profile Picture" width="160" height="160" />
    
  </div>

  {% assign page_paths = site.pages | where: 'include_nav', true | map: "path" %}
  <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  {% if site.subtitle %}
  <div class="site-subtitle">{{ site.subtitle }}</div>
  {% endif %}
  
  {% if page_paths %}
    <nav class="site-nav">
      <ul>
        <li><a class="page-link" href="/about.html">About</a></li>
        <li><a class="page-link" href="/privacy.html">Privacy</a></li>
        {% if site.contact.url %}
        
        <li><a class="page-link" href="{{ site.contact.url }}">Contact</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <div class="social-footer">
    {% include social.html %}
  </div>
</div>
